*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}


body{

display:flex;
background:#f3f7f5;

}



.sidebar{

width:250px;

height:100vh;

background:#164b32;

color:white;

padding:30px;


}


.sidebar h2{

font-size:28px;

}


.sidebar ul{

margin-top:40px;

list-style:none;

}



.sidebar li{

padding:18px;

border-radius:10px;

margin-bottom:10px;

}



.active{

background:#2d7650;

}




.main{

flex:1;

padding:35px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

}



.online{

background:#dff5e5;

padding:12px 20px;

border-radius:20px;

color:green;

}



.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-top:25px;


}



.card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 8px 20px #ddd;


}



.card h1{

font-size:40px;

margin:15px 0;

color:#164b32;

}




.control{

display:flex;

gap:25px;

margin-top:35px;


}


.control-box{


background:white;

padding:25px;

border-radius:20px;

width:300px;

}



button{

margin-top:20px;

padding:12px 25px;

border:none;

border-radius:20px;

background:#164b32;

color:white;

cursor:pointer;


}




.chart{

background:white;

margin-top:35px;

padding:30px;

border-radius:20px;

}



.graph{

margin-top:20px;

height:150px;

padding:30px;

background:#eef6f0;

border-radius:15px;

}